
@import '../theme.scss';

.inkhorn-app {
    text-align: center;

    .sticky-header{
        position: fixed;
        z-index: 100;
        width: 100%;

        .navbar-color{
            background-color: $primary-color;
        }
    
        .navbar-light .navbar-brand {
            color: $primary-text-color;
            font-size: 36px;
        }
    
        .navbar-light .navbar-brand:hover {
            color: $primary-text-color;
            font-size: 36px;
        }
    
        .inkhorn-navbar{ 
            float: right;
        }
    }


    .carousel-container{
        margin-top: 0px;
    }
}
