
$primary-color: #907163;
$secondary-color: #5D5C61;
$tertiary-color: #659DBD;
$quaternary-color: #DAAD86;
$quintary-color: #557A95;

$primay-color-rgba: rgba(144, 113, 99, 0.4);
$secondary-color-rgba: rgba(93, 92, 97, .3);
$tertiary-color-rgba: rgba(101, 157, 189, .7);
$quintary-color-rgba: rgba(85, 122, 149, .3);

$primary-text-color: #fff;
$secondary-text-color: #333888;