
@import '../theme.scss';

.inkhorn-app {
    text-align: center;

    .sticky-header{
        position: fixed;
        z-index: 100;
        width: 100%;

        .navbar-color{
            background-color: $primay-color-rgba;
        }

        .inkhorn-navbar{ 
            position: relative;
            right: 0;
            float: right;
            margin-right: 20px;
        }

        .navbar-light {
            .navbar-brand {
                color: $primary-text-color;
                font-weight: 500;
                letter-spacing: 2px;
                font-size: 50px;
                font-family: Cutive;
                margin-left: 20px;
            }

            .navbar-brand:hover {
                color: $primary-text-color;
            }

            .navbar-nav .nav-link {
                color: $primary-text-color;
            }
        }


        .justify-content-end{
            float: right;
        }

        .sub-header {
            height: 50px;
            background-color: $tertiary-color-rgba;
            padding-top: 10px;

            h3 {
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 4px;
                color: $primary-text-color;
                text-align: center;
            }
        }
    }

    .inkhorn-footer {
        height: 50px;
        padding-top: 5px;
        background-color: $quintary-color;

        .copyright {
            width: 50%;
            color: white;
            text-align: left !important;
            margin-left: 10px;
            padding-top: 7px;
            float: left !important;
            left: 0;
        }

        .social-media {
            float: right;
            .fa {
                padding: 10px;
                width: 35px;
                text-align: center;
                text-decoration: none;
                border-radius: 10px;
                margin-right: 10px;
            }
            
            .fa:hover {
                opacity: 0.7;
            }
            
            .fa-facebook {
                background: #3B5998;
                color: white;
            }
            
            .fa-twitter {
                background: #55ACEE;
                color: white;
            }

            .fa-youtube {
                background: #bb0000;
                color: white;
            }

            .fa-linkedin {
                background: #007bb5;
                color: white;
            }

            .fa-instagram {
                background: #125688;
                color :white;
            }
        }

    }

    @media only screen and (max-width: 992px) {
        .sticky-header {
            position: relative;
            .navbar-color{
                background-color: $primary-color;
            }
        }
    }

    @media only screen and (max-width: 400px) {

        .sticky-header {
            position: relative;
            .navbar-color{
                background-color: $primary-color;
            }

            .sub-header {
                height: 50px;
                background-color: $tertiary-color-rgba;
                padding-top: 12px;
    
                h3 {
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    color: $primary-text-color;
                    text-align: center;
                }
            }
        }

        .inkhorn-footer {
            height: 100px;
            padding-top: 5px;
            background-color: $quintary-color;

            .copyright {
                width: 100%;
                color: white;
                text-align: center !important;
                margin-bottom: 10px;
                padding-top: 7px;
                float: left !important;
                left: 0;
            }

            .social-media {
                float: none;
                display: block;
            }
        }
    }

}
